services:
  - type: web
    name: truck-management-api
    env: node
    rootDir: .
    buildCommand: npm install && npm run build && npx prisma generate && npx prisma migrate deploy
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 5000
      - key: ALLOWED_ORIGINS
        sync: false
    plan: starter
    region: oregon




















